# R
.Rproj.user/
.Rhistory
.RData
.Ruserdata
renv/

# Quarto
/.quarto/
*_files/
*_cache/

# Rendered output
*.html
!index.html

# OS
.DS_Store

# Ignore legacy folder
the_bestest_talk/

**/*.quarto_ipynb
.positai
